.map {
	width: 100%;
	height: 500px;
	margin-bottom: 20px;
}

#menu li {
	cursor: pointer;
}

.container-fluid {
	display: none;
	margin-top: 15px;
}

.displayBox {
	display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#neighborhoodNav {
	display: none;
}

.list-group-item {
	cursor: pointer;
}

#loadingThingy {
	display: none;
	text-align: center;
	padding: 200px;
}

#errorThingy {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	background-color: #000082;
    text-align: center;
    padding: 50px;
}

h2 {
	margin-top: 0;
}

#citationBox {
	margin-top: 10px;
	margin-bottom: 20px;
}

.citation {
    cursor: pointer;
}

#browseBox {
	text-decoration: bold;
}

.labels {
	color: white;
	text-decoration: bold;
	font-size: 16pt;
	border: white solid 1px;
	background: black;
}​

/*

    display: inline;
    padding: 20px;
    padding-left: 20px;

#menu li:hover {
    background-color: #EFEFEF;
}

#menu ul {
    list-style-type: none;
}

*/