#map {
	width: 100%;
	height: 500px;
	margin-bottom: 10px;
}

#mouseOverBox {
	text-align: right;
}

#resetButton {
	float: right;
	margin-right: 0;
}

#searchBox span {
	margin-right: 4px;
	cursor: pointer;
}

#neighborhoodBox {
	display: none;
}

.buttonBox {
	display: inline;
}

.focus {
	background-color: red;
}

#menu li {
	cursor: pointer;
}

.container-fluid {
	display: none;
	margin-top: 8px;
	margin-bottom: 32px;
}

.displayBox {
	padding: 0;
	margin-bottom: 8px;
	margin-top: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#loadingThingy {
	display: none;
	text-align: center;
	padding: 200px;
}

#errorThingy {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	background-color: #000082;
    text-align: center;
    padding: 50px;
}

#logo {
	float: left;
	width: 120px;
	margin-right: 8px;
}

h1 {
	font-size: 32pt;
}

h2 {
	margin-top: 0;
}

.citation {
    cursor: pointer;
}

#browseBox {
	text-decoration: bold;
}

.label {
	display: inline-block;
    font-size: 12pt;
}